:host{
    height: inherit;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25rem;
}
.home-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
}
.home-padded-wrapper {
    min-width: 40pc;
    height: 100%;
    width: calc(100% - 392px);
    flex-grow: 1;
    padding: 0 2.5rem;
    overflow-y: scroll;
    box-sizing: border-box;
}
.home-contents-padder {
    min-width: 329px;
    margin-bottom: 2rem;
    margin-right: .5rem;
    margin-top: .375rem;
    margin-left: .5rem;
}
.home-contents-2 {
    min-height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
}
.home-contents-3 {
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 1;
    display: flex;
}
.home-contents-4 {
    flex-grow: 1;
    position: relative;
    z-index: 1;
    flex-basis: auto;
    flex-shrink: 1;
    min-width: 0;

}
.home-page-title-container {
    margin-inline: 0;
    margin-block-start: 1.5rem;
    margin-block-end: 1rem;
}
.home-page-title-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.title-text-container {
    overflow-wrap: break-word;
    margin-block-end: 8px;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    max-width: 100%;
}
.title-text {
    margin: 0;
    letter-spacing: normal;
    outline: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: auto;
}
.explore-container {
    box-sizing: border-box;
    appearance: none;
    border-right-width: initial;
    border-bottom-width: initial;
    border-left-width: initial;
    border-style: solid none none;
    border-image: initial;
    display: block;
    position: relative;
    padding-top: 1rem;
    margin-top: 0px;
    margin-bottom: 24px;
    border-top-width: 1px;
    border-color: #091e4221;
}
.explore-container-content {
    display: flex;
    box-sizing: border-box;
    gap: 8px;
    flex-direction: column;
    justify-content: stretch;
}
.explore-container-title {
    box-sizing: border-box;
    appearance: none;
    border: none;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.explore-container-nav {
    box-sizing: border-box;
    row-gap: 1rem;
    column-gap: 1rem;
    flex-direction: row;
    align-items: center;
    display: flex;

}
.explore-container-nav .radiogroup {
    box-sizing: border-box;
    row-gap: .25rem;
    column-gap: .25rem;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.radiogroup-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 1.625rem;
    padding: 0 .75rem;
    box-sizing: border-box;
    cursor: pointer;
    color: #505258;
    background-color: #0000;
    border-radius: 3px;
    border: none;
}
.radiogroup-btn:hover {
    background-color: #0515240F;
}
.radiogroup-btn.selected {
    border: 1px solid #1868DB;
    background-color: #E9F2FE;
    color: #1868DB;
    cursor: default;
}
.radiogroup-btn.selected:hover {
    background-color: #CFE1FD;
}
.explore-container-nav > a:hover{
    text-decoration: none;
}
.explore-tiles-list-container {
    box-sizing: border-box;
    appearance: none;
    border: none;
    overflow-x: auto;
    padding-top: var(--ds-space-100, 8px);
    padding-bottom: var(--ds-space-100, 8px);
    position: relative;
}
.explore-tile-list {
    box-sizing: border-box;
    appearance: none;
    border: none;
    display: inline-flex;
    white-space: nowrap;
}
.explore-tile-body:not(:first-of-type) {
    margin-left: 0.75rem;
}
.explore-tile-body {
    display: flex;
    height: 168px;
    width: 240px;
    padding-top: var(--ds-space-200, 16px);
    flex-direction: column;
    color: inherit;
    background: var(--ds-surface-raised, #FFFFFF);
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-image: initial;
    border-radius: var(--ds-radius-small, 3px);
    border-left: 20px solid var(--ds-background-accent-teal-subtler, #C6EDFB);
    box-sizing: border-box;
    box-shadow: 0px 1px 1px #1E1F2140, 0px 0px 1px #1E1F214F;
    transition: box-shadow 0.3s 
ease-in-out, border-color 0.6s 
ease-in;
}
.explore-tile-body:hover {
    box-shadow: 0px 8px 12px #1E1F2126, 0px 0px 1px #1E1F214F;
}
.tile-heading-container {
    text-align: left;
    color: inherit;
    width: 100%;
    margin-bottom: var(--ds-space-150, 12px);
    margin-left: -12px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
}
.tile-title-text-container {
    display: inline-block;
    vertical-align: top;
    flex: 1 1 0%;
    margin-left: var(--ds-space-100, 8px);
    margin-right: var(--ds-space-050, 4px);
    overflow: hidden;
}
.tile-title-text1 {
    color: #292a2e;
    text-overflow: ellipsis;
    margin: 0;
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    font-weight: 653;
    font-size: .875rem;
    line-height: 1.25rem;
}
.tile-title-text2 {
    color: #292a2e;
    text-transform: none;
    text-overflow: ellipsis;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
}
.tile-details {
    flex-basis: 0%;
    flex-shrink: 1;
    flex-grow: 1;
}
.tile-details .tile-detail-row {
    display: flex;
    padding-left: 16px;
    padding-right: 12px;
    margin-bottom: 2px;
}
.row-1-text {
    color: #6B6E76;
    font-weight: 600;
    padding-left: 0.25rem;
    padding-bottom: 0.25rem;
}
.row-2-text-container {
    flex: 1 1 0%;
    display: flex;
    max-width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 3px;
    padding: 0px;
    text-decoration: none !important;
}
.row-2-text {
    flex-basis: 0%;
    flex-shrink: 1;
    flex-grow: 1;
    overflow: hidden;
}
.row-2-text p {
    text-transform: none;
    color: #292A2E;
    text-overflow: ellipsis;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    white-space: nowrap;
    overflow: hidden;
}
.row-label {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    box-sizing: border-box;
    background: #0515240F;
    align-content: center;
    padding: 1px .125rem 0;
    border-radius: 9999px;
    text-transform: none;
    margin: 3px;
    width: 30px;
    min-width: 30px;
    height: 16px;
    text-align: center;
    color: #292A2E;
}
.row-label::after {
    content: '3';
}
.tile-detail-row .row-3 {
    display: flex;
    padding-left: 16px;
    padding-right: 12px;
    margin-bottom: 2px;
}
.row-3-text-container {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    flex: 1 1 0%;
    display: flex;
    max-width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 3px;
    padding: 0px;
    text-decoration: none !important;
}
.row-3-text-container:hover,.row-2-text-container:hover {
    background-color: #0B120E24;
}
.row-3-text-container:focus,.row-2-text-container:focus {
    outline: 2px solid #4688EC;
    outline-offset: 2px;
}
.row-3-text {
    flex-grow: 1;
    flex-basis: 0%;
    flex-shrink: 1;
    overflow: hidden;
}
.row-3-text p {
    text-transform: none;
    color:#292A2E;
    text-overflow: ellipsis;
    padding-left: .25rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
}
.tile-dropdown {
    border-top: 1px solid #0B120E24;
    margin: 0px;
    height: 28px;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 12px;
    display: flex;
    padding-left: 16px;
    color: inherit;
    white-space: nowrap;
    
}
.tile-dropdown-btn {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    padding-left: .25rem !important;
    
    -webkit-box-align: baseline;
    align-items: baseline;
    border-width: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    display: inline-flex;
    font-size: inherit;
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    max-width: 100%;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background 0.1s 
    ease-out, box-shadow 0.15s 
    cubic-bezier(0.47, 0.03, 0.49, 1.38);
    white-space: nowrap;
    cursor: pointer;
    height: auto;
    line-height: inherit;
    padding: 0px;
    vertical-align: baseline;
    width: auto;
    -webkit-box-pack: center;
    justify-content: center;
    background: transparent;
    color: #505258;
}

.tile-dropdown-btn:focus {
    border: 1px solid #4688EC;
    background: #E9F2FE;
    color: #1868DB;
}
.tile-dropdown-btn:active, .tile-dropdown-btn:hover {
    background-color: #0515240F;
}
.tile-dropdown-btn.opened,.tile-dropdown-btn:active {
    background: #E9F2FE;
    color: #1868DB;
    border: 1px solid #4688EC;
}
.tile-dropdown-text {
    opacity: 1;
    transition: opacity 0.3s;
    margin: 0px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tile-dropdown-text > p {
    display: flex;
    text-transform: none;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
}
.tile-dropdown-icon-container {
    opacity: 1;
    transition: opacity 0.3s;
    display: flex;
    margin: 0px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    align-self: center;
    font-size: 0px;
    line-height: 0;
    user-select: none;
    white-space: nowrap;
    text-align: center;
    margin-inline-end: -0.125rem;
    color: currentColor;
}
.tile-dropdown-icon {
    color: currentColor;
    box-sizing: border-box;
    line-height: .75rem;
    padding-inline: .125rem;
    display: inline-block;
    flex-shrink: 0;
}
.tile-dropdown-icon > svg {
    vertical-align: bottom;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    overflow: hidden;
    line-height: 0.75rem;
    stroke: currentColor;
}

.recommended-tile-list-container {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    position: relative;
    padding: 1.25rem 0;
    overflow-x: auto;
    border: none;
}
.recommended-tile-list {
    box-sizing: border-box;
    align-items: start;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    flex-direction: row;
    display: flex;
}
.recommended-tile-container {
    min-width: 16.25rem;
width: 16.25rem;
color: #505258;
text-decoration: none;
-webkit-text-decoration-style: none;
height: 9rem;
box-sizing: border-box;
position: relative;
background-color: #ffff;
display: block;
padding: 1rem;
border: 1px solid #0B120E24;
border-radius: 3px;
}
.recommended-tile-container:hover {
    color: #292A2E;
    background-color: #DDDEE1;
}
.recommended-tile-details {
    justify-content: stretch;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    flex-direction: column;
    display: flex;
}
.recommended-tile-detail-container-1 {
    box-sizing: border-box;
    justify-content: stretch;
    flex-direction: column;
    display: flex;
}
.project-heading {
    color: #292A2E;
    text-transform: none;
    letter-spacing: normal;
    margin-block: 0;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 653;
}
.project-heading > span {
    -webkit-line-clamp: 1;
    overflow-wrap: anywhere;
    word-break: break-all;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-weight: 600;
    overflow: hidden;
    margin: 0;
}
.recommended-tile-detail-container-1 > p {
    -webkit-line-clamp: 1;
    overflow-wrap: anywhere;
    word-break: break-all;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    color: #505258;
    font-weight: 400;
    overflow: hidden;
    margin: 0;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    
}
.recommended-tile-detail-container-2 {
    display: flex;
    box-sizing: border-box;
    row-gap: .125rem;
    column-gap: .125rem;
    flex-direction: row;
    align-items: center;
}
.recommended-tile-detail-container-2 .manage-icon {
    color: currentColor;
    box-sizing: border-box;
    line-height: 9pt;
    padding-inline: 0;
    display: inline-block;
    flex-shrink: 0;
}
.recommended-tile-detail-container-2 .manage-icon > svg {
    vertical-align: middle;
    width: 9pt;
    color: currentColor;
    height: 9pt;
    pointer-events: none;
    overflow: hidden;
}
.recommended-tile-detail-container-2 .manage-info {
    -webkit-line-clamp: 1;
    overflow-wrap: anywhere;
    word-break: break-all;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin: 0;
    color: #505258;
    font-weight: 400;
    overflow: hidden;
    font-size: .75rem;
    line-height: 1rem;
}