button{
    border: none;
    outline: none;
    background-color: white;
    padding: 5px 8px;
    border-radius: 4px;
}
button:hover{
    fill: #1558bc;
    background-color: #eeeeee;
    color: #1558bc;
}

:host {
    position: relative;
}

.dropdown {
    display: flex;
    align-items: center;
    padding: 10px;
}

.columnContainer {
    position: absolute;
    background-color: white;
    top: 100%;
    right: 0px;
    transform: translate(-50%, 0);
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0 0 1px 0 #cecece, 0 5px 20px -5px #0000001a;
    padding: 10px;
    display: flex;
    gap: 20px;
}
.columnContainer:focus{
    outline: 1px solid #1558bc;
}
.column {
    display: flex;
    flex-direction: column;
}

span.columnHeader {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.75em;
}

a {
    text-decoration: none;
    color: inherit;
}