input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0;
    outline: none;
    margin: 0;
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 2 / 2;
    border: none;
}
label.checkbox-container {
    grid-auto-rows: min-content;
    grid-auto-columns: 1fr;
    cursor: default;
    display: grid;
    font-weight: 400;
    line-height: 1.25rem;
    font-size: 0.875rem;
    white-space: nowrap;
    pointer-events: auto;
    color: #292a2e;
    grid-template-columns: min-content auto;
    gap: 0 0.25rem;
}

svg {
    color: #1868DB;
    fill: #fff;
    pointer-events: none;
    transition: color .2s ease-in-out, fill .2s ease-in-out;
    grid-area: 1 / 1 / 2 / 2;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
svg rect {
    stroke-width: 1px;
    transition: stroke .2s ease-in-out,fill .2s ease-in-out;
    fill: 0000;
    color: #fff;
    stroke: #8C8F97;
}
svg.checked {
    fill: #FFFFFF;
}
svg.checked rect {
    fill: #1868DB;
    stroke: #1868DB;
    transition: stroke .2s ease-in-out, fill .2s ease-in-out;
}
input:focus ~ svg {
    outline: 2px solid #4688EC;
    outline-offset: -2px;
    border-radius: 4px;
}

:host{
    display: flex;
    box-sizing: border-box;
    gap: var(--ds-space-075, 6px);
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: start;
    margin: 0;
    padding: 0;
    opacity: var(--disabled, 1);
}
.checkbox-label-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.5rem;
    row-gap: 0.5rem;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.checkbox-label-icon {
    max-height: 24px;
    max-width: 24px;
    color: currentColor;
    box-sizing: border-box;
    padding-inline: 0;
    line-height: 1;
    display: inline-block;
    flex-shrink: 0;
    white-space: nowrap;
}
.checkbox-label-text {
    color: #292a2e;
    overflow-wrap: anywhere;
    margin: 0;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25rem;
    pointer-events: auto;
}
.checkbox-label-text.inline-text {
    align-self: center;
    grid-area: 1 / 2 / 2 / 3;
}