
:host {
    color: var(--ds-text, #292a2e);
    box-sizing: border-box;
    z-index: 400;
    box-shadow: 0px 8px 12px #1E1F2126, 0px 0px 1px #1E1F214F;
    --ds-elevation-surface-current: var(--ds-surface-overlay, #fff);
    background-color: var(--ds-surface-overlay, #fff);
    color: var(--ds-text, #292a2e);
    box-sizing: border-box;
    display: block;
    border-radius: var(--ds-radius-small, 4px);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.more-btn-wrapper-2 {
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.more-btn-content {
    min-width: 250px;
    position: static;
    overflow-y: auto;
    overflow-x: auto;
    flex-direction: column;
    display: flex;
}
.more-btn-content .options-list {
    flex-shrink: 0;
}
.more-btn-content .options-list::before ,
.more-btn-content .options-list::after {
    content: "";
    height: 6px;
    display: block;
}

.multiple-select-option-heading {
    text-transform: none;
    box-sizing: border-box;
    padding-inline-start: 12px;
    margin-block-end: 4px;
    cursor: default;
    padding-inline-end: 12px;
    color: #505258;
    font-weight: 700;
    display: block;
    font-size: 0.75rem;
    line-height: 1rem;
}

.more-btn-content .option-item:hover {
    background-color: #0515240F;
    box-shadow: var(--option-hover-indication);
}
.more-btn-content .option-item {
    text-decoration-style: solid;
    text-decoration-line: none;
    text-decoration-color: initial;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    -webkit-text-decoration-color: initial;
    text-decoration-color: initial;
    text-decoration-style: solid;
    text-decoration-line: none;
    text-decoration-color: initial;
    box-sizing: border-box;
    position: relative;
    color: currentColor;
    cursor: pointer;
    min-height: 40px;
    outline-width: 0;
    outline-style: none;
    background-color: var(--ds-background-neutral-subtle, #0000);
    margin-inline-start: var(--ds-space-0, 0);
    margin-inline-end: var(--ds-space-0, 0);
    margin-block-start: var(--ds-space-0, 0);
    margin-block-end: var(--ds-space-0, 0);
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding-block: var(--ds-space-100, 8px);
    padding-inline: var(--ds-space-200, 1pc);
    border: 0;
}

.more-btn-content .option-item-content {
    padding-bottom: 0;
    box-sizing: border-box;
    row-gap: var(--ds-space-150, 9pt);
    column-gap: var(--ds-space-150, 9pt);
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: currentColor;
    cursor: pointer;
}

.more-btn-content .option-item-content .option-item-icon-container {
    min-width: 24px;
    min-height: 24px;
    min-width: 24px;
    min-height: 24px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.more-btn-content .option-item-content .option-item-icon {
    color: var(--ds-icon, #292A2E);
    box-sizing: border-box;
    padding-inline-start: var(--ds--button--new-icon-padding-start, 0);
    padding-inline-end: var(--ds--button--new-icon-padding-end, 0);
    line-height: 1;
    display: inline-block;
    flex-shrink: 0;
}
.more-btn-content .option-item-content .option-item-details-container {
    outline-color: currentColor;
    flex-grow: 1;
    outline-width: medium;
    outline-style: none;
    text-align: left;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
    display: flex
}

.more-btn-content .option-item-content .option-item-details {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: hidden;
}
.more-btn-wrapper {
    color: var(--ds-text, #292a2e);
    box-sizing: border-box;
    z-index: 400;
    box-shadow: 0px 8px 12px #1E1F2126, 0px 0px 1px #1E1F214F;
    --ds-elevation-surface-current: var(--ds-surface-overlay, #fff);
    background-color: var(--ds-surface-overlay, #fff);
    color: var(--ds-text, #292a2e);
    box-sizing: border-box;
    display: block;
    border-radius: var(--ds-radius-small, 4px);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.more-btn-wrapper-2 {
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.more-btn-content {
    min-width: 250px;
    position: static;
    overflow-y: auto;
    overflow-x: auto;
    flex-direction: column;
    display: flex;
}
.more-btn-content .options-list.disabled {
    background-color: #0515240F;
    pointer-events: auto;
}
.more-btn-content .options-list:not(:first-child) {
    border-block-start: 1px solid #0B120E24;
}
.more-btn-content .options-list {
    flex-shrink: 0;
}
.more-btn-content .options-list::before ,
.more-btn-content .options-list::after {
    content: "";
    height: 6px;
    display: block;
}

.more-btn-content .option-item.disabled , 
.more-btn-content .option-item:disabled {
    background-color: #0515240F;
    pointer-events: none;
}
.more-btn-content .option-item:not(:disabled):not(.disabled):hover {
    background-color: #0515240F;
}
.more-btn-content .option-item {
    text-decoration-style: solid;
    text-decoration-line: none;
    text-decoration-color: initial;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    -webkit-text-decoration-color: initial;
    text-decoration-color: initial;
    text-decoration-style: solid;
    text-decoration-line: none;
    text-decoration-color: initial;
    box-sizing: border-box;
    position: relative;
    color: currentColor;
    cursor: pointer;
    min-height: 40px;
    outline-width: 0;
    outline-style: none;
    background-color: var(--ds-background-neutral-subtle, #0000);
    margin-inline-start: var(--ds-space-0, 0);
    margin-inline-end: var(--ds-space-0, 0);
    margin-block-start: var(--ds-space-0, 0);
    margin-block-end: var(--ds-space-0, 0);
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding-block: var(--ds-space-100, 8px);
    padding-inline: var(--ds-space-200, 1pc);
    border: 0;
}

.more-btn-content .option-item-content {
    padding-bottom: 0;
    box-sizing: border-box;
    row-gap: var(--ds-space-150, 9pt);
    column-gap: var(--ds-space-150, 9pt);
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: currentColor;
    cursor: pointer;
}

.more-btn-content .option-item-content .option-item-icon-container {
    min-width: 24px;
    min-height: 24px;
    min-width: 24px;
    min-height: 24px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.more-btn-content .option-item-content .option-item-icon {
    color: var(--ds-icon, #292A2E);
    box-sizing: border-box;
    padding-inline-start: var(--ds--button--new-icon-padding-start, 0);
    padding-inline-end: var(--ds--button--new-icon-padding-end, 0);
    line-height: 1;
    display: inline-block;
    flex-shrink: 0;
}
.more-btn-content .option-item-content .option-item-details-container {
    outline-color: currentColor;
    flex-grow: 1;
    outline-width: medium;
    outline-style: none;
    text-align: left;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
    display: flex
}

.more-btn-content .option-item-content .option-item-details {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: .875rem;
    line-height: 1.25rem;
}