svg.icon-content {
    fill: #44546f;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    height: 16px;
    cursor: pointer;
}

.search-area {
    display: flex;
    align-items: center;
    border: 0.01rem solid #44546f;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.search-area svg{
    fill: #6b778c;
}

.search-area.focused{
    border: none;
    outline: 0.1rem solid #1558bc;
}

.search-area.focused svg{
    fill: #1558bc;
}

:host {
    position: relative;
}

.search-dialog-wrapper {
    // position: absolute;
    // top: 100%;
    // left: 50%;
    // transform: translate(-50%,0);
    // display: none;
    border-radius: 3px;
    box-shadow: 0 0 1px 0 #cecece, 0 5px 20px -5px #0000001a;
    width: 100%;
    min-width: 780px;
    background-color: white;
    z-index: 2;
    margin-top: 7px;
    max-width: 780px;
}

.search-dialog-wrapper.show{
    display: block;
}

@media (max-width: 780px){
    input{
        display: none;
    }
}