:host {
  width: 1280px;
  height: auto;
  box-shadow:
    0px 8px 12px #1e1f2126,
    0px 0px 1px #1e1f214f;
  border-radius: 3px;
  color: #292a2e;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex-shrink: 1;
  flex-grow: 0;
  background: #fff;
  height: calc(100vh - 120px);
}

.details-header {
  padding: 2pc 1.5rem 0.5rem 1.5rem;
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  word-wrap: break-word;
  flex-shrink: 0;
  flex-grow: 1;
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 2pc;
    width: 100%;
    .breadcrumb-ctn,
    .header-btns {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      max-width: 100%;
      height: 100%;
      ::ng-deep breadcrumbs .container-1 {
        align-items: end;
      }
    }
    .header-btns {
      margin-left: auto;
      margin-right: 0;
      justify-content: end;
      row-gap: 0.5rem;
      column-gap: 0.5rem;
      align-items: center;
      max-width: 100%;
      min-height: 2rem;
      height: 100%;
      box-sizing: border-box;
    }
  }
}
button.secondary-btn {
  text-align: center;
  color: #505258;
  vertical-align: middle;
  appearance: none;
  column-gap: 0.375rem;
  background-color: #fff;
  height: 2rem;
  width: 2rem;
  display: inline-flex;
  flex-shrink: 0;
  justify-content: center;
  cursor: pointer;
  align-items: baseline;
  transition: background 0.1s ease-out;
  border: 1px solid #0b120e24;
  .icon-content {
    line-height: 0;
    -webkit-user-select: none;
    user-select: none;
    font-size: 0;
    align-self: center;
    flex-shrink: 0;
    display: flex;
    flex-grow: 0;
    transition: opacity 0.3s;
    img {
      vertical-align: bottom;
      height: 1.5rem;
      width: 1.5rem;
      pointer-events: none;
      overflow: hidden;
    }
  }
  &:hover {
    background-color: #0515240f;
  }
}
.details-container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  .container-2 {
    height: 100%;
    align-items: normal;
    flex-wrap: nowrap;
    max-width: 100%;
    display: flex;
    position: relative;
    .left-part-container,
    .right-part-container {
      flex-basis: 0;
      min-width: 380px;
      overflow-x: hidden;
      overflow-y: scroll;
      outline-style: none;
      flex-shrink: 0;
      flex-grow: 1;
    }
    .right-part-container {
      justify-content: end;
      .right-part-content {
        padding-right: 1rem;
        padding-bottom: 2pc;
        flex-basis: 0%;
        padding-top: 20px;
        height: max-content;
        min-width: 255px;
        flex-shrink: 1;
        padding-left: 0.25rem;
        flex-grow: 1;
        .btns-grp {
          padding-right: 0.25rem;
          padding-top: 0.75rem;
          flex-wrap: wrap;
          display: flex;
          .btn-ctn {
            margin-right: 0.5rem;
            max-width: 100%;
            padding-bottom: 0.75rem;
            overflow: hidden;
            .secondary-btn {
              width: fit-content;
              align-items: center;
              app-icon-container {
                width: auto;
                &:hover {
                  background-color: transparent;
                }
                .icon-content {
                  color: #505258;
                  height: 1rem;
                  width: 1rem;
                }
              }
            }
          }
        }
        .accordion-ctn {
          margin-bottom: 0.5rem;
          border-radius: 6px;
          border: 1px solid #0b120e24;
        }
      }
    }
    .divider {
      display: none;
      position: relative;
      cursor: ew-resize;
      right: 0;
      align-self: stretch;
      flex-shrink: 0;
      left: 0;
      display: flex;
      width: var(--ds-space-300, 24px);
      justify-content: center;
      flex-grow: 0;
      .divider-track {
        color: #0000;
        position: absolute;
        transition-property: color;
        background-color: initial;
        height: 100%;
        transition-duration: 0.1s;
        transition-delay: 0ms;
        width: 15px;
      }
      .divider-thumb {
        opacity: 0;
        position: relative;
        animation-name: dividerThumbAnim;
        background-color: var(--ds-border-focused, #4688ec);
        animation-duration: 0s;
        align-self: stretch;
        animation-timing-function: ease-in-out;
        width: 2px;
        transition: background 0.5s;
        .icon-ctn {
          opacity: 1;
          position: absolute;
          animation-name: dividerThumbIconAnim;
          background-color: #fff;
          cursor: pointer;
          animation-duration: 0s;
          height: 24px;
          align-items: center;
          animation-timing-function: ease-in-out;
          left: -9pt;
          display: flex;
          width: 24px;
          justify-content: center;
          box-shadow:
            0px 8px 12px #1e1f2126,
            0px 0px 1px #1e1f214f;
          top: 2pc;
          border-radius: 9999px;
        }
        @keyframes dividerThumbAnim {
          0% {
            opacity: 0;
          }
          25% {
            opacity: 1;
          }
          75% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
        @keyframes dividerThumbIconAnim {
          0% {
            opacity: 0;
          }
          1% {
            opacity: 1;
          }
          99% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
      &:hover {
        .divider-thumb {
          opacity: 1;
        }
      }
    }
    .left-part-container {
      .container-3 {
        padding: 2.25rem 1.25rem 9pt 2rem;
        .issue-summary-wrapper {
          display: flex;
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: auto;
          min-width: auto;
          width: 100%;
          margin-top: -0.5rem;
          margin-right: -0.5rem;
          margin-block-start: 0.5rem;
          .issue-summary-text-ctn {
            border-radius: 3px;
            align-items: center;
            width: 100%;
            transition: background 0.2s;
            display: flex;
            max-width: 100%;
            min-height: 2pc;
            .issue-summary-text {
              text-transform: none;
              font-weight: 653;
              font-size: 1.5rem;
              line-height: 1.75rem;
              padding: 0.375rem 0;
              position: relative;
              word-break: break-word;
              display: flex;
              left: 9pt;
            }
            &:hover {
              background-color: #0515240f;
            }
          }
        }
        .issue-btns {
          box-sizing: border-box;
          appearance: none;
          border-width: medium;
          border-style: none;
          border-color: currentcolor;
          border-image: initial;
          margin-top: 4px;
          .ctn-2 {
            display: flex;
            box-sizing: border-box;
            gap: 0.5rem;
            -webkit-box-align: start;
            align-items: start;
            flex-direction: row;
          }
        }
        .issue-description-wrapper {
          margin-top: 1rem;
          flex-basis: 0;
          flex-shrink: 1;
          flex-grow: 1;
          position: relative;
          width: 100%;
          display: flex;
          box-sizing: border-box;
          flex-direction: column;
          position: relative;
        }
      }
    }
  }
}

::ng-deep .details-header .header-content .breadcrumb-ctn breadcrumbs {
  align-items: end;
}
::ng-deep .details-container .container-2 .right-part-container .right-part-content .accordion-ctn {
  accordion-template {
    .ctn {
      padding-left: 0.5rem;
      border-radius: 6px;
      .ctn2 {
        .chevron-btn {
          background-color: #0000;
          &:hover {
            background-color: #0000;
          }
        }
        .accordion-title {
          font-weight: 500;
        }
      }
    }
  }
  accordion-template {
    .ctn:hover {
      background-color: #0515240f;
    }
  }
  accordion-template {
    .ctn:has(.ctn2:active) {
      background-color: #0b120e24;
    }
  }
}
.description-wrapper {
  border-radius: 3px;
  padding: 0 0.125rem;
  margin-top: 0.5rem;
  &:hover {
    background-color: #0515240f;
  }
}

.status-btn {
  -webkit-box-align: baseline;
  align-items: baseline;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  font-size: inherit;
  font-style: normal;
  font-family: inherit;
  font-weight: 500;
  max-width: 100%;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition:
    background 0.1s ease-out,
    box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38);
  white-space: nowrap;
  cursor: pointer;
  height: 2.28571em;
  line-height: 2.28571em;
  padding: 0px 10px;
  vertical-align: middle;
  width: auto;
  -webkit-box-pack: center;
  justify-content: center;
  background: #0515240f;
  color: #292a2e;
  &:hover {
    background-color: #0b120e24;
  }
  .text {
    opacity: 1;
    transition: opacity 0.3s;
    margin: 0px 2px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
  }
  app-icon-container {
    max-height: 100%;
    padding: none;
    outline: none;
    align-self: center;
    &:hover {
      background-color: transparent;
    }
    &:active {
      border: none;
    }
  }
  svg.icon-content {
    color: #505258;
  }
  // &:focus {
  //     box-shadow: 0 0 0 0 #6a9a23;
  //     animation-timing-function: cubic-bezier(.5, 0, 0, 1);
  //     animation-duration: 1.45s;
  //     animation-name: rippleOne;
  // }
  &[disabled] {
    color: #080f214a;
    background-color: #17171708;
    cursor: not-allowed;
    text-decoration: none;
    pointer-events: none;
  }
}

.accordion-content-wrapper {
  padding-left: 1.25rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  .field-wrapper {
    .assign-field, .parent-field, .dueDate-field {
      margin-bottom: 0.75rem;
      column-gap: 1.25rem;
      display: flex;
      flex-wrap: wrap;
      word-break: break-word;
      align-items: center;
    }
    .field-label-ctn {
      appearance: none;
      border-width: medium;
      border-style: none;
      border-color: currentcolor;
      border-image: initial;
      position: relative;
      box-sizing: border-box;
      min-width: 120px;
      width: 40%;
      line-height: 1;
      flex: 1 0 0%;
      -webkit-box-flex: 1;
      .field-label {
        height: 100%;
        align-items: center;
        display: flex;
        width: -moz-fit-content;
        width: fit-content;
        margin-left: -4px;
        padding-block: 4px;
        padding-inline: 4px;
        gap: 8px;
        border-radius: 3px;
        .text {
          font-weight: 500;
          line-height: calc(4 / 3 * 1rem);
          font-size: 0.875rem;
          line-height: 1.25rem;
        }
        .pin-icon-ctn {
          box-sizing: border-box;
          appearance: none;
          border-width: medium;
          border-style: none;
          border-color: currentcolor;
          border-image: initial;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          gap: var(--ds-space-100, 8px);
          .icon-content {
            box-sizing: border-box;
            appearance: none;
            border-width: medium;
            border-style: none;
            border-color: currentcolor;
            border-image: initial;
            width: 16px;
            height: 16px;
            transition: opacity 0.15s linear;
            opacity: 0;
          }
        }
        &:hover {
          background-color: #0b120e24;
        }
      }
      &:hover {
        .field-label > .pin-icon-ctn > .icon-content {
          opacity: 1;
        }
      }
    }
    .field-control-wrapper {
      box-sizing: border-box;
      flex-basis: 0%;
      min-width: 60%;
      flex-shrink: 0;
      flex-grow: 1;
      width: 60%;
      .field-control-ctn {
        box-sizing: border-box;
        appearance: none;
        border-width: medium;
        border-style: none;
        border-color: currentcolor;
        border-image: initial;
        margin-left: var(--ds-space-negative-100, -8px);
        margin-right: var(--ds-space-100, 8px);
        .field-value-ctn {
          box-sizing: border-box;
          padding-right: var(--ds-space-075, 6px);
          max-width: 100%;
          padding-bottom: 0;
          position: relative;
          padding-top: 0;
          align-items: center;
          min-height: 2pc;
          overflow-x: hidden;
          display: flex;
          text-overflow: ellipsis;
          padding-left: var(--ds-space-075, 6px);
          overflow-y: hidden;
          flex-grow: 1;
          border-color: #0000;
          border-style: solid;
          border-width: var(--ds-border-width-selected, 2px);
          gap: var(--ds-space-100, 8px);
          transition: backgroundColor 0.2s;
          border-radius: var(--ds-radius-medium, 3px);
          .icon-ctn {
            margin: -0.125rem;
            box-sizing: initial;
            position: static;
            background-color: #fff;
            background-color: var(--avatar-bg-color);
            margin-inline-start: var(--ds-space-025, 2px);
            cursor: inherit;
            margin-block-end: var(--ds-space-025, 2px);
            height: 24px;
            align-items: stretch;
            flex-direction: column;
            overflow-x: hidden;
            outline-style: none;
            margin-block-start: var(--ds-space-025, 2px);
            display: flex;
            width: 24px;
            justify-content: center;
            overflow-y: hidden;
            box-shadow: 0 0 0 2px transparent;
            outline-width: medium;
            margin-inline-end: var(--ds-space-025, 2px);
            outline-color: currentColor;
            transition:
              transform 0.2s,
              opacity 0.2s;
            border-radius: var(--ds-radius-full, 50%);
            .icon-ctn2 {
              height: 100%;
              width: 100%;
              background-color: #dddee1;
              display: flex;
              color: #505258;
            }
          }
          .value {
            color: #6b6e76;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &:hover {
            background-color: #0515240f;
          }
        }
      }
    }
  }
}
