
header, :host {
    display: grid;
    grid-template-columns: 300px auto 300px;
    height: 48px; //need big icons to be looked
    position: sticky;
    position: -webkit-sticky;
    box-sizing: border-box;
    inset-block-start: 0;
    z-index: 4;
    background-color: #fff;
    align-items: center;
    border-block-end: 1px solid #0B120E24;
    padding-inline: 0.75rem;
    gap: 0.5rem;
}

.search-bar{
    display: flex;
    gap: 10px;
}

.menu-icons-and-logo {
    display: flex;
    gap: 4px;
    align-items: center;
}

svg.icon-content {
    fill: #44546f;
}
app-dashboard-search-bar{
    align-self: center;
}
.create-task-btn {
    background-color: #1868DB;
    border: none;
    outline: none;
    padding: 4px;
    border-radius: 3px;
    color: white;
    display: flex;
    align-items: center;
    height: 24px;
    align-self: center;
    border: 1px solid #1868DB;
}
.create-task-btn:hover{
    background-color: white;
    svg{
        fill: #1868DB;
    }
}

@media (min-width: 48rem) {
    header, :host {
        display: grid;
        grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
    }

    .search-bar {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr auto;
        width: 100%;
    }

    .menu-icons-and-logo,
    .notifications-user {
        min-width: fit-content;
    }
}

@media (min-width: 64rem) {
    .menu-icons-and-logo,.notifications-user{
        min-width: 300px;
    }
}

@media not all and (width >=64rem) {
    .menu-icons {
        display: none;
    }
}