<div class="table-container">
    <table class="table">
        <thead class="table-header">
            <tr>
                <th class="icon-header-cell">
                    <div class="icon">
                        <span>

                        </span>
                    </div>
                </th>
                <th class="name">
                    <div class="header-cell name-cell-content">
                        <button class="header-cell-btn">
                            <div class="cell-text-container">
                                <span>Name</span>
                            </div>
                            <div class="cell-icon-container">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                        <path d="M444-96v-630L267-549l-51-51 264-264 264 264-51 51-177-177v630h-72Z"/>
                                    </svg>
                                </span>
                            </div>
                        </button>
                    </div>
                </th>
                <th>
                    <div class="header-cell location-cell-content">
                        <button class="header-cell-btn">
                            <div class="cell-text-container">
                                <span>Location</span>
                            </div>
                            <div class="cell-icon-container">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                                        <path d="M480-96 216-360l51-51 177 177v-630h72v630l177-177 51 51L480-96Z"/>
                                    </svg>
                                </span>
                            </div>
                        </button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody class="table-body">
            <tr>
                <td class="icon-cell">
                    <div class="icon">
                        <button class="icon-btn">
                            <span class="icon-btn-span-1">
                                <span class="icon-btn-span-2">
                                    <span class="icon-btn-span-3">
                                        <img src="assets/icons/starred.svg" alt="">
                                    </span>
                                </span>
                            </span>
                        </button>
                    </div>
                </td>
                <td>
                    <a href="">ORDINARY BOARD</a>
                </td>
                <td>
                    <div class="location-container">
                        <div class="icon">
                            <span class="icon-btn-span-1">
                                <span class="icon-btn-span-2">
                                    <span class="icon-btn-span-3">
                                        <img src="assets/icons/starred.svg" alt="">
                                    </span>
                                </span>
                            </span>
                        </div>
                        <span class="location-text">OrDiNaRy LoCaTiOn</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="icon-cell">
                    <div class="icon">
                        <button class="icon-btn">
                            <span class="icon-btn-span-1">
                                <span class="icon-btn-span-2">
                                    <span class="icon-btn-span-3">
                                        <img src="assets/icons/starred.svg" alt="">
                                    </span>
                                </span>
                            </span>
                        </button>
                    </div>
                </td>
                <td>
                    <a href="">ORDINARY BOARD</a>
                </td>
                <td>
                    <div class="location-container">
                        <div class="icon">
                            <span class="icon-btn-span-1">
                                <span class="icon-btn-span-2">
                                    <span class="icon-btn-span-3">
                                        <img src="assets/icons/starred.svg" alt="">
                                    </span>
                                </span>
                            </span>
                        </div>
                        <span class="location-text">OrDiNaRy LoCaTiOn</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="icon-cell">
                    <div class="icon">
                        <button class="icon-btn">
                            <span class="icon-btn-span-1">
                                <span class="icon-btn-span-2">
                                    <span class="icon-btn-span-3">
                                        <img src="assets/icons/starred.svg" alt="">
                                    </span>
                                </span>
                            </span>
                        </button>
                    </div>
                </td>
                <td>
                    <a href="">ORDINARY BOARD</a>
                </td>
                <td>
                    <div class="location-container">
                        <div class="icon">
                            <span class="icon-btn-span-1">
                                <span class="icon-btn-span-2">
                                    <span class="icon-btn-span-3">
                                        <img src="assets/icons/starred.svg" alt="">
                                    </span>
                                </span>
                            </span>
                        </div>
                        <span class="location-text">OrDiNaRy LoCaTiOn</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="show-more-link-container">
    could not find your boards?
    <span class="link-container">
        <a href="#">
            View all boards
        </a>
    </span>
</div>