:host {
    max-width: 250px;
    display: block;
    width: 100%;
}

.multiple-selections {
    box-sizing: border-box;
    padding: 0;
    position: relative;
    min-height: 40px;
    cursor: pointer;
    flex-wrap: wrap;
    outline-width: 0;
    outline-style: none;
    outline-color: rgb(41, 42, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8c8f97;
    border-radius: 3px;
    max-width: 100%;
    background-color: #fff;
    overflow-y: auto;

    box-sizing: border-box;

    background-color: var(--ds-background-input-pressed, #fff);
    cursor: pointer;
    position: relative;
    min-height: 40px;
    outline-width: 0;
    justify-content: space-between;
    outline-style: none;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    display: flex;
    transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
    border-radius: var(--ds-radius-small, 3px);
}

.multiple-selections:hover {
    background-color: #f8f8f8;
}
    
.multiple-selections:has(input.multiple-select-input:focus) {
    border-color: #4688EC;
    box-shadow: inset 0 0 0 1px #4688ec;
}

.multiple-selection-area {
    box-sizing: border-box;
    padding: 2px 6px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    display: grid;
    pointer-events: all;
    flex-grow: 1;
    flex-basis: 0%;
    flex-wrap: wrap;
    flex-shrink: 1;
    
    scrollbar-width: none;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.multiple-selection-area.show-options{
    display: grid;
}
.multiple-selection-area.selected-options{
    display: flex;
}
.multiple-select-placeholder {
    display: none;
    box-sizing: border-box;
    color: #6b6e76;
    margin: 0 2px;
    grid-area: 1 / 1 / 2 / 3;
}

.multiple-select-placeholder.empty {
    display: block;
}

.multiple-select-input-container {
    box-sizing: border-box;
    color: #292a2e;
    position: relative;
    grid-template-columns: 0 min-content;
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    margin-inline: 2px;
    margin-block: 2px;
    padding-block: 2px;
    grid-area: 1 / 1 / 2 / 3;
    cursor: pointer;
}

.multiple-select-input {
    border-bottom-right-radius: 6px;
    opacity: 1;
    position: absolute;
    min-width: 2px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: inherit;
    width: 100%;
    font: inherit;
    background: 0;
    inset: 0;
}
.multiple-select-input.select{
    transform: translate(0, -50%);
    height: fit-content;
}

.multiple-select-input ::after {
    visibility: hidden;
    white-space: pre;
    content: " ";
    min-width: 2px;
    outline: none;
    padding: 0;
    margin: 0;
}


.multiple-select-option-container {
    box-sizing: border-box;
    // inset-block-start: 100%;
    box-shadow: 0px 8px 12px #1E1F2126, 0px 0px 1px #1E1F214F;
    background-color: #fff;
    // position: absolute;
    margin-block-start: 8px;
    margin-block-end: 8px;
    width: 100%;
    border-radius: 4px;
    z-index: 1;
    max-width: 250px;
}

.dropdown-icon-container {
    align-self: stretch;
    padding-inline-end: 4px;
    flex-shrink: 0;
    align-items: center;
    display: flex;
}
.dropdown-icon-container svg {
    transition: 0.3s ease-in-out;
}

.multiple-selection-area:has(.multiple-select-input:focus) ~ .dropdown-icon-container {
    .indicator-container svg{
        rotate: 180deg;
        transition: 0.3s ease-in-out;
    }
}

.multiple-select-option-groups {
    box-sizing: border-box;
    max-height: 300px;
    overflow-y: auto;
    position: relative;
    padding-block-start: 8px;
    padding-block-end: 8px;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.multiple-select-option-group {
    box-sizing: border-box;
    padding: 8px 0px;
}

.multiple-select-option-heading {
    text-transform: none;
    box-sizing: border-box;
    padding-inline-start: 12px;
    margin-block-end: 4px;
    cursor: default;
    padding-inline-end: 12px;
    color: #505258;
    font-weight: 700;
    display: block;
    font-size: 0.75rem;
    line-height: 1rem;
}

.multiple-select-option {
    box-sizing: border-box;
    overflow-wrap: break-word;
    color: #292a2e;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: inherit;
    cursor: default;
    -webkit-tap-highlight-color: #fff;
    width: 100%;
    display: block;
    padding-inline: 12px;
    padding-block: 6px;
}

.multiple-select-option.hovered {
    box-shadow: inset 2px 0 0 #1868db;
    background-color: #0515240F;
}

.selected-option {
    box-sizing: border-box;
    color: #292a2e;
    margin-inline: 2px;
    margin-block: 2px;
    min-width: 0;
    background-color: #fff;
    max-width: 100%;
    border-color: #b7b9be;
    border: 1px solid #b7b9be;
    border-radius: 4px;
    display: flex;
    cursor: pointer;
    width: fit-content;
    // grid-area: 1 / 1 / 2 / 3;
}
.selected-option-text {
    box-sizing: border-box;
    padding-inline-end: 2px;
    padding-inline-start: 4px;
    color: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 2px;
    font-weight: 400;
    font-size: 0.875rem;
    display: block;
}
.selected-option .clear-icon-container {
    box-sizing: border-box;
    color: #172b4d;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-inline: 2px;
    // padding-block: 2px;
    fill: #292a2e;
    background-color: #fff;
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 4px;
}
.indicator-container {
    padding: 6px 2px;
    box-sizing: border-box;
    color: #505256;
    display: flex;
}
.loading-indicator{
    box-sizing: border-box;
    padding: 6px 8px;
}
.loading-indicator .loader{
    width: 16px;
    height: 16px;
    // animation-delay: 0ms;
    // animation-timing-function: cubic-bezier(0.4, 0.15, .6, .85);
    // animation-duration: .86s;
    // animation-name: load;
    // animation-iteration-count: infinite;
}
@keyframes load {
    100%{
        transform: rotate(1turn);
    }
}
.loader .svg {
    animation-delay: 0ms;
    animation-name: circle;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}
.loader .loader-circle{
    stroke: #505258;
    stroke-width: 1.5;
    stroke-dasharray: 60;
    fill: none;
    stroke-dashoffset: 50;
    transform-origin: 0px 0px;
}
circle animation {
    transform: rotate(230deg);
    stroke-dashoffset: 50px;
}
@keyframes circle{
    0% {
        transform: rotate(0deg);
        stroke-dashoffset: 60;
    }

    100% {
        transform: rotate(360deg);
        stroke-dashoffset: 50;
    }
}
.clear-container {
    background-color: #505258;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: none;
}
.clear-container.show{
    display: block;
}

.option-container-wrapper {
    color: var(--ds-text, #292a2e);
    box-sizing: border-box;
    z-index: 400;
    box-shadow: 0px 8px 12px #1E1F2126, 0px 0px 1px #1E1F214F;
    background-color: var(--ds-surface-overlay, #fff);
    color: var(--ds-text, #292a2e);
    box-sizing: border-box;
    display: block;
    border-radius: var(--ds-radius-small, 4px);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
}
.option-container-wrapper-2 {
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.option-container-content {
    min-width: 250px;
    position: static;
    overflow-y: auto;
    overflow-x: auto;
    flex-direction: column;
    display: flex;
    padding: 8px 0px;
}
.option-container-content .options-list {
    flex-shrink: 0;
}
.option-container-content .options-list::before ,
.option-container-content .options-list::after {
    content: "";
    height: 6px;
    display: block;
}

.option-container-content .option-item:hover {
    background-color: #0515240F;
    box-shadow: inset 2px 0 0 #1868db;
}
.option-container-content .option-item {
    text-decoration-style: solid;
    text-decoration-line: none;
    text-decoration-color: initial;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    -webkit-text-decoration-color: initial;
    text-decoration-color: initial;
    text-decoration-style: solid;
    text-decoration-line: none;
    text-decoration-color: initial;
    box-sizing: border-box;
    position: relative;
    color: currentColor;
    cursor: pointer;
    min-height: 40px;
    outline-width: 0;
    outline-style: none;
    background-color: var(--ds-background-neutral-subtle, #0000);
    margin-inline-start: var(--ds-space-0, 0);
    margin-inline-end: var(--ds-space-0, 0);
    margin-block-start: var(--ds-space-0, 0);
    margin-block-end: var(--ds-space-0, 0);
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding-block: var(--ds-space-100, 8px);
    padding-inline: var(--ds-space-200, 1pc);
    border: 0;
}

.option-container-content .option-item-content {
    padding-bottom: 0;
    box-sizing: border-box;
    row-gap: var(--ds-space-150, 9pt);
    column-gap: var(--ds-space-150, 9pt);
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: currentColor;
    cursor: pointer;
}

.option-container-content .option-item-content .option-item-icon-container {
    min-width: 24px;
    min-height: 24px;
    min-width: 24px;
    min-height: 24px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.option-container-content .option-item-content .option-item-icon {
    color: var(--ds-icon, #292A2E);
    box-sizing: border-box;
    padding-inline-start: var(--ds--button--new-icon-padding-start, 0);
    padding-inline-end: var(--ds--button--new-icon-padding-end, 0);
    line-height: 1;
    display: inline-block;
    flex-shrink: 0;
}
.option-container-content .option-item-content .option-item-details-container {
    outline-color: currentColor;
    flex-grow: 1;
    outline-width: medium;
    outline-style: none;
    text-align: left;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
    display: flex
}

.option-container-content .option-item-content .option-item-details {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: hidden;
}
.option-container-wrapper {
    color: var(--ds-text, #292a2e);
    box-sizing: border-box;
    z-index: 400;
    box-shadow: 0px 8px 12px #1E1F2126, 0px 0px 1px #1E1F214F;
    --ds-elevation-surface-current: var(--ds-surface-overlay, #fff);
    background-color: var(--ds-surface-overlay, #fff);
    color: var(--ds-text, #292a2e);
    box-sizing: border-box;
    display: block;
    border-radius: var(--ds-radius-small, 4px);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.option-container-wrapper-2 {
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.option-container-content {
    min-width: 250px;
    position: static;
    overflow-y: auto;
    overflow-x: auto;
    flex-direction: column;
    display: flex;
}
.option-container-content .options-list.disabled {
    background-color: #0515240F;
    pointer-events: auto;
}
.option-container-content .options-list:not(:first-child) {
    border-block-start: 1px solid #0B120E24;
}
.option-container-content .options-list {
    flex-shrink: 0;
}
.option-container-content .options-list::before ,
.option-container-content .options-list::after {
    content: "";
    height: 6px;
    display: block;
}

.option-container-content .option-item.disabled , 
.option-container-content .option-item:disabled {
    background-color: #0515240F;
    pointer-events: none;
}
.option-container-content .option-item:not(:disabled):not(.disabled):hover {
    background-color: #0515240F;
}
.option-container-content .option-item {
    text-decoration-style: solid;
    text-decoration-line: none;
    text-decoration-color: initial;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    -webkit-text-decoration-color: initial;
    text-decoration-color: initial;
    text-decoration-style: solid;
    text-decoration-line: none;
    text-decoration-color: initial;
    box-sizing: border-box;
    position: relative;
    color: currentColor;
    cursor: pointer;
    min-height: 40px;
    outline-width: 0;
    outline-style: none;
    background-color: var(--ds-background-neutral-subtle, #0000);
    margin-inline-start: var(--ds-space-0, 0);
    margin-inline-end: var(--ds-space-0, 0);
    margin-block-start: var(--ds-space-0, 0);
    margin-block-end: var(--ds-space-0, 0);
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding-block: var(--ds-space-100, 8px);
    padding-inline: var(--ds-space-200, 1pc);
    border: 0;
}

.option-container-content .option-item-content {
    padding-bottom: 0;
    box-sizing: border-box;
    row-gap: var(--ds-space-150, 9pt);
    column-gap: var(--ds-space-150, 9pt);
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: currentColor;
    cursor: pointer;
}

.option-container-content .option-item-content .option-item-icon-container {
    min-width: 24px;
    min-height: 24px;
    min-width: 24px;
    min-height: 24px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.option-container-content .option-item-content .option-item-icon {
    color: var(--ds-icon, #292A2E);
    box-sizing: border-box;
    padding-inline-start: var(--ds--button--new-icon-padding-start, 0);
    padding-inline-end: var(--ds--button--new-icon-padding-end, 0);
    line-height: 1;
    display: inline-block;
    flex-shrink: 0;
}
.option-container-content .option-item-content .option-item-details-container {
    outline-color: currentColor;
    flex-grow: 1;
    outline-width: medium;
    outline-style: none;
    text-align: left;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
    display: flex
}

.option-container-content .option-item-content .option-item-details {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 1rem;
}