:host {
    scroll-margin-inline: 1000px;
}
.sidebar {

}
.sub-sidebar {
    padding-inline-start: 12px;
}
.sidebar-item,.sub-sidebar-item {
    scroll-margin-inline: 1000px;
}
.sidebar-item-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-sizing: border-box;
    height: 32px;
    min-width: 72px;
    grid-template-areas: "ele-before interactive ele-after actions";
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, auto) 1fr minmax(0, auto) minmax(0, auto);
    display: grid;
    align-items: center;
    border-radius: 4px;
}
.sidebar-item-link,.sidebar-item-btn {
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    text-align: start;
    padding-block: 4px;
    padding-inline: 4px;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    color: #44546f;
    display: grid;
    background-color: initial;
    align-items: center;
    grid-row: 1;
    grid-column: 1 / -1;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}
.sidebar-item-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.sidebar-item-link:not(.selected):hover {
    background-color: #F0F1F2;
    .horizontal-highlighter,.horizontal-highlighter2 {
        background-color: #44546f;
        transform: translateY(-50%);
        width: 2px;
        inset-block-start: 50%;
        inset-inline-start: 0;
        height: 50%;
        position: absolute;
        transition: .4s;
    }
    .horizontal-highlighter2 {
        inset-inline-start: 100%;
        transform: translate(-100%,-50%);
    }
    .vertical-highlighter,.vertical-highlighter2 {
        background-color: #44546f;
        height: 2px;
        width: 50%;
        inset-block-start: 0;
        position: absolute;
        transform: translate(50%,0%);
        transition: .4s;
    }
    .vertical-highlighter2 {
        inset-block-start: 100%;
        transform: translate(50%,-100%);
    }
    ~ .sidebar-item-icon2-container{
        padding-inline-end: var(--sidebar-item-no-hover-animation, 2px);
        // padding-inline-end: 8px;
    }
}
.sidebar-item-container .sidebar-item-link:not(.selected):active {
    background-color: #DDDEE1;
} 
.sidebar-item-btn ~ .sidebar-item-icon-container {
    .sidebar-item-icon-box:first-child {
        display: var(--sidebar-item-icon-arrow, none);
        rotate: var(--sidebar-item-icon-arrow-angle, 0deg);
    }
    .sidebar-item-icon-box:nth-child(2) {
        display: var(--sidebar-item-icon, block);
    }
}
.sidebar-item-container:hover .sidebar-item-btn ~ .sidebar-item-icon-container,.sidebar-item-container:hover .sidebar-item-link ~ .sidebar-item-icon-container {
    .sidebar-item-icon-box:first-child {
        display: flex;
    }
    .sidebar-item-icon-box:nth-child(2) {
        display: none;
    }
    .sidebar-item-btn-icon2-container {
        opacity: 1;
    }
    ~ .sidebar-item-btn-icon3-container,~ .sidebar-item-link-icon3-container {
        display: none;
    }
}
.sidebar-item-link .text-container,.sidebar-item-btn .text-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    grid-area: interactive;
}
.sidebar-item-link .texts,.sidebar-item-btn .texts {
    min-width: 1ch;
    padding-inline: 4px;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    gap: 2px;
}
.sidebar-item-link .texts > span,.sidebar-item-btn .texts > span {
    -webkit-line-clamp: 1;
    overflow-wrap: anywhere;
    word-break: break-all;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    text-align: start;
    cursor: pointer;
}
.sidebar-item-icon-container,.sidebar-item-icon2-container {
    pointer-events: none;
    box-sizing: initial;
    position: relative;
    width: 24px;
    height: 24px;
    padding-inline-start: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    grid-area: ele-before;
}
.sidebar-item-icon2-container {
    flex-shrink: 0;
    grid-area: ele-after;
    padding-inline-start: 0;
    padding-inline-end: 4px;
}
.sidebar-item-icon-box {
    box-sizing: border-box;
    padding-inline: 0;
    line-height: 1;
    display: inline-block;
    flex-shrink: 0;
    pointer-events: none;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}
// .sidebar-item-icon-box.opened {
//     display: flex !important;
// }
.sidebar-item-icon2-box {
    box-sizing: border-box;
    line-height: 1;
    padding-inline: 4px;
}
.sidebar-item-icon2-box2 {
    box-sizing: border-box;
    line-height: 12px;
    padding-inline: 0;
    display: inline-block;
    flex-shrink: 0;
}
.sidebar-item-icon-box svg {
    fill: #44546f;
}
.sidebar-item-btn-icon2-container {
    padding-inline: 4px;
    opacity: 0;
    align-items: center;
    overflow: hidden;
    display: flex;
    grid-area: ele-after;
    gap: 4px;
    position: relative;
}
.sidebar-item-btn-icon2-container .extra-icon {
    display: inline-flex;
}
.sidebar-item-btn-icon2-container .sidebar-item-icon-btn-box {
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    column-gap: 4px;
    align-items: baseline;
    height: 24px;
    width: 24px;
    font-weight: 500;
    cursor: pointer;
    color: #44546f;
    flex-shrink: 0;
    background-color: transparent;
    padding-inline: 0;
    max-width: 100%;
    text-align: center;
    border: none;
    padding-block: 2px;
    border-radius: 3px;
}
.sidebar-item-container:hover .sidebar-item-btn:not(.selected),.sidebar-item-container:hover .sidebar-item-link:not(.selected) {
    background: #F0F1F2;
    .horizontal-highlighter,.horizontal-highlighter2 {
        background-color: #44546f;
        transform: translateY(-50%);
        width: 2px;
        inset-block-start: 50%;
        inset-inline-start: 0;
        height: 50%;
        position: absolute;
        transition: .4s;
    }
    .horizontal-highlighter2 {
        inset-inline-start: 100%;
        transform: translate(-100%,-50%);
    }
    .vertical-highlighter,.vertical-highlighter2 {
        background-color: #44546f;
        height: 2px;
        width: 50%;
        inset-block-start: 0;
        position: absolute;
        transform: translate(50%,0%);
        transition: .4s;
    }
    .vertical-highlighter2 {
        inset-block-start: 100%;
        transform: translate(50%,-100%);
    }
    ~ .sidebar-item-btn-icon2-container {
        padding-inline-end: 8px;
        opacity: 1 !important;
        overflow: hidden;
        align-items: center;
        grid-area: ele-after;
        gap: 4px;
    }
    ~ .sidebar-item-btn-icon2-container .sidebar-item-icon-btn-box:hover {
        background-color: #0515240F;
        border-radius: 3px;
    }
    ~ .sidebar-item-btn-icon2-container  .sidebar-item-icon-btn-box:active, .sidebar-item-btn-icon2-container  .sidebar-item-icon-btn-box:focus {
        background-color: #0B120E24;
        outline: none;
        border-radius: 3px;
    }
    ~ .sidebar-item-btn-icon2-container  .sidebar-item-icon-btn-box:focus .sidebar-item-icon-box {
        box-sizing: border-box;
        background-color: #0B120E24;
        outline: none;
        border: 1px solid #1868DB;
        border-radius: 3px;
    }
}
.sidebar-item-container .sidebar-item-btn:not(.selected):active {
    background-color: #DDDEE1;
} 
.sidebar-item-btn-icon2-container .sidebar-item-icon-btn-box .sidebar-item-icon-box {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0;
    line-height: 0;
    flex-shrink: 0;
    flex-grow: 0;
    align-self: center;
    display: flex;
    cursor: pointer;
    text-align: center;
}
.sidebar-item-container:has(.sidebar-item-link.selected) {
    color: #1868DB;
    background-color: #CFE1FD;
    .sidebar-item-link {
        color: #1868DB;
    }
    .sidebar-item-icon-box svg {
        fill: #1868DB;
    }
    .sidebar-item-link:hover {
        background-color: #CFE1FD;
    }
    .horizontal-highlighter,.horizontal-highlighter2 {
        background-color: #1868DB;
        transform: translateY(-50%);
        width: 2px;
        inset-block-start: 50%;
        inset-inline-start: 0;
        height: 50%;
        position: absolute;
    }
    .horizontal-highlighter2 {
        inset-inline-start: 100%;
        transform: translate(-100%,-50%);
    }
    .vertical-highlighter,.vertical-highlighter2 {
        background-color: #1868DB;
        height: 2px;
        width: 50%;
        inset-block-start: 0;
        position: absolute;
        transform: translate(50%,0%);
    }
    .vertical-highlighter2 {
        inset-block-start: 100%;
        transform: translate(50%,-100%);
    }
}
.sidebar-item-container:has(.sidebar-item-link.selected:active) {
    background-color: #8FB8F6;
    color: #1558BC;
}
.sidebar-heading {
    color: #6B6E76;
    padding-inline: 0.375rem;
    padding-block: 0.5rem;
    font-style: normal;
    font-weight: 653;
    font-size: .8rem;
    line-height: 1rem;
    margin-top: 0;
}
.horizontal-highlighter {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transform: translateY(0%);
}
.horizontal-highlighter2 {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    transform: translate(-100%,-100%);
}
.vertical-highlighter {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.vertical-highlighter2 {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transform: translate(100%,-100%);
}
.sidebar-item-btn-icon3-container {
    pointer-events: none;
    position: relative;
    height: 24px;
    display: flex;
    padding-inline-end: 4px;
    overflow: hidden;
    align-items: center;
    grid-area: ele-after;
}
.sidebar-item-btn-icon3-container .extra-icon {
    max-width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    outline: 1px solid #c97cf4;
    outline-offset: -1px;
    padding-inline: 4px;
    block-size: min-content;
    position: static;
    background-color: #0000;
    overflow: hidden;
    border-radius: 3px;
}
.sidebar-item-btn-icon3-container .extra-icon .extra-icon-text {
    max-width: calc( 200px - .5rem );
    color: #292a2e;
    letter-spacing: .165px;
    text-transform: uppercase;
    line-height: 1pc;
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.more-btn-wrapper {
    color: var(--ds-text, #292a2e);
    box-sizing: border-box;
    z-index: 400;
    box-shadow: var(--ds-shadow-overlay);
    --ds-elevation-surface-current: var(--ds-surface-overlay, #fff);
    background-color: var(--ds-surface-overlay, #fff);
    color: var(--ds-text, #292a2e);
    box-sizing: border-box;
    display: block;
    border-radius: var(--ds-radius-small, 4px);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.more-btn-wrapper-2 {
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.more-btn-content {
    min-width: 250px;
    position: static;
    overflow-y: auto;
    overflow-x: auto;
    flex-direction: column;
    display: flex;
}
.more-btn-content .options-list {
    flex-shrink: 0;
}
.more-btn-content .options-list::before ,
.more-btn-content .options-list::after {
    content: "";
    height: 6px;
    display: block;
}

.more-btn-content .option-item:hover {
    background-color: #0515240F;
}
.more-btn-content .option-item {
    text-decoration-style: solid;
    text-decoration-line: none;
    text-decoration-color: initial;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    -webkit-text-decoration-color: initial;
    text-decoration-color: initial;
    text-decoration-style: solid;
    text-decoration-line: none;
    text-decoration-color: initial;
    box-sizing: border-box;
    position: relative;
    color: currentColor;
    cursor: pointer;
    min-height: 40px;
    outline-width: 0;
    outline-style: none;
    background-color: var(--ds-background-neutral-subtle, #0000);
    margin-inline-start: var(--ds-space-0, 0);
    margin-inline-end: var(--ds-space-0, 0);
    margin-block-start: var(--ds-space-0, 0);
    margin-block-end: var(--ds-space-0, 0);
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding-block: var(--ds-space-100, 8px);
    padding-inline: var(--ds-space-200, 1pc);
    border: 0;
}

.more-btn-content .option-item-content {
    padding-bottom: 0;
    box-sizing: border-box;
    row-gap: var(--ds-space-150, 9pt);
    column-gap: var(--ds-space-150, 9pt);
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: currentColor;
    cursor: pointer;
}

.more-btn-content .option-item-content .option-item-icon-container {
    min-width: 24px;
    min-height: 24px;
    min-width: 24px;
    min-height: 24px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.more-btn-content .option-item-content .option-item-icon {
    color: var(--ds-icon, #292A2E);
    box-sizing: border-box;
    padding-inline-start: var(--ds--button--new-icon-padding-start, 0);
    padding-inline-end: var(--ds--button--new-icon-padding-end, 0);
    line-height: 1;
    display: inline-block;
    flex-shrink: 0;
}
.more-btn-content .option-item-content .option-item-details-container {
    outline-color: currentColor;
    flex-grow: 1;
    outline-width: medium;
    outline-style: none;
    text-align: left;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
    display: flex
}

.more-btn-content .option-item-content .option-item-details {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: hidden;
}
.more-btn-wrapper {
    color: var(--ds-text, #292a2e);
    box-sizing: border-box;
    z-index: 400;
    box-shadow: 0px 8px 12px #1E1F2126, 0px 0px 1px #1E1F214F;
    --ds-elevation-surface-current: var(--ds-surface-overlay, #fff);
    background-color: var(--ds-surface-overlay, #fff);
    color: var(--ds-text, #292a2e);
    box-sizing: border-box;
    display: block;
    border-radius: var(--ds-radius-small, 4px);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.more-btn-wrapper-2 {
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.more-btn-content {
    min-width: 250px;
    position: static;
    overflow-y: auto;
    overflow-x: auto;
    flex-direction: column;
    display: flex;
}
.more-btn-content .options-list.disabled {
    background-color: #0515240F;
    pointer-events: auto;
}
.more-btn-content .options-list:not(:first-child) {
    border-block-start: 1px solid #0B120E24;
}
.more-btn-content .options-list {
    flex-shrink: 0;
}
.more-btn-content .options-list::before ,
.more-btn-content .options-list::after {
    content: "";
    height: 6px;
    display: block;
}

.more-btn-content .option-item.disabled , 
.more-btn-content .option-item:disabled {
    background-color: #0515240F;
    pointer-events: none;
}
.more-btn-content .option-item:not(:disabled):not(.disabled):hover {
    background-color: #0515240F;
}
.more-btn-content .option-item {
    text-decoration-style: solid;
    text-decoration-line: none;
    text-decoration-color: initial;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-decoration-style: solid;
    text-decoration-style: solid;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
    -webkit-text-decoration-color: initial;
    text-decoration-color: initial;
    text-decoration-style: solid;
    text-decoration-line: none;
    text-decoration-color: initial;
    box-sizing: border-box;
    position: relative;
    color: currentColor;
    cursor: pointer;
    min-height: 40px;
    outline-width: 0;
    outline-style: none;
    background-color: var(--ds-background-neutral-subtle, #0000);
    margin-inline-start: var(--ds-space-0, 0);
    margin-inline-end: var(--ds-space-0, 0);
    margin-block-start: var(--ds-space-0, 0);
    margin-block-end: var(--ds-space-0, 0);
    align-items: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding-block: var(--ds-space-100, 8px);
    padding-inline: var(--ds-space-200, 1pc);
    border: 0;
}

.more-btn-content .option-item-content {
    padding-bottom: 0;
    box-sizing: border-box;
    row-gap: var(--ds-space-150, 9pt);
    column-gap: var(--ds-space-150, 9pt);
    justify-content: space-between;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: currentColor;
    cursor: pointer;
}

.more-btn-content .option-item-content .option-item-icon-container {
    min-width: 24px;
    min-height: 24px;
    min-width: 24px;
    min-height: 24px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.more-btn-content .option-item-content .option-item-icon {
    color: var(--ds-icon, #292A2E);
    box-sizing: border-box;
    padding-inline-start: var(--ds--button--new-icon-padding-start, 0);
    padding-inline-end: var(--ds--button--new-icon-padding-end, 0);
    line-height: 1;
    display: inline-block;
    flex-shrink: 0;
}
.more-btn-content .option-item-content .option-item-details-container {
    outline-color: currentColor;
    flex-grow: 1;
    outline-width: medium;
    outline-style: none;
    text-align: left;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    justify-content: center;
    display: flex
}

.more-btn-content .option-item-content .option-item-details {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 1rem;
}