<div class="space-details">
    <div class="space-details-content">
        <span class="text">Space</span>
    </div>
    <div class="space-details-content">
        <img src="https://demo1234.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10408">
        <h1 class="space-name">Demo Space</h1>
        <div class="options">
            <button class="secondary-btn">
                <span>
                    <img src="./assets/icons/personAdd.svg" alt="icon">
                </span>
            </button>
            <button class="secondary-btn">
                <span>
                    <img src="./assets/icons/more.svg" alt="icon">
                </span>
            </button>
        </div>
        <div class="extras">
            <button class="secondary-btn">
                <span>
                    <img src="./assets/icons/link.svg" alt="icon">
                </span>
            </button>
            <button class="secondary-btn">
                <span>
                    <img src="./assets/icons/plans.svg" alt="icon">
                </span>
            </button>
            <button class="secondary-btn">
                <span>
                    <img src="./assets/icons/feedback.svg" alt="icon">
                </span>
            </button>
            <button class="secondary-btn">
                <span>
                    <img src="./assets/icons/openInFull.svg" alt="icon">
                </span>
            </button>
        </div>
    </div>
</div>
<nav class="spaces-nav">
    <ul class="spaces-nav-item-container">
        <li class="spaces-nav-item">
            <div class="spaces-nav-item-content">
                <h2 class="spaces-view-text">
                    <div class="spaces-view-icon">
                        <img src="./assets/icons/dashboards.svg">
                    </div>
                    <span>Board</span>
                </h2>
                <div class="spaces-view-options">
                    <button class="spaces-view-options-btn">
                        <img src="./assets/icons/more.svg">
                    </button>
                </div>
            </div>
        </li>
    </ul>
    <div class="more-views">
        <button class="more-view-btn">
            <span class="more-view-btn-content">
                <span class="more-view-icon-container">
                    <img src="./assets/icons/add2.svg">
                </span>
            </span>
        </button>
    </div>
</nav>