
.carouselContainer{
    padding: 0 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}
.half-texts,.half-images{
    flex-basis: calc(50% - 16px);
}
.half-images > div{
    display: none;
}
.half-images .show{
    display: block;
}
.half-images img{
    width: 100%;
    aspect-ratio: 5 / 4;
}
.carousel-header{
    text-align: center;
    padding: 20px 10px;
}
.option-container{
    padding: 20px;
}
.option-container > button{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    position: relative;
}
.progress{
    width: 3px;
    height: 100%;
    background-color: #c1c7d0;
    position: absolute;
    inset-block-end: 0;
    inset-inline-start: 0;
}
.progress-grow{
    background-color: #1558bc;
    animation: 5s linear progressgrow;
}
@keyframes progressgrow{
    0%{
        height:0%;
    }
    100%{
        height: 100%;
    }
}
.content-description-container{
    display: grid;
    grid-template-rows: 0fr;
    transition: 0.3s ease-in;
    text-align: left;
    padding-left: 16px;
}
.content-description-container > div{
    overflow: hidden;
}
.content-header{
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s ease-in;
    text-align: left;
    padding-left: 16px;
}
.content-header.header-highlight{
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 0.5px;
    transition: 0.3s ease-in;
}
.content-description-container.show{
    grid-template-rows: 1fr;
    transition: 0.3s ease-in;
}
.content-images{
    display: none;
}
@media not all and (width >= 64rem) {
    .carouselContainer{
        justify-content: center;
    }
    .half-images{
        display: none;
    }
    .content-images.show{
        display: block;
        width: 100%;
    }
    .content-images img{
        width: 100%;
    }
}