<div class="item-list">
    <div class="list-header">
        <h3> <span>today</span> </h3>
    </div>
    <ul class="list-body">
        <li class="list-item"> <a class="list-item-link" href="/">
                <div> <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#ff0000">
                        <path
                            d="M480-200q66 0 113-47t47-113v-160q0-66-47-113t-113-47q-66 0-113 47t-47 113v160q0 66 47 113t113 47Zm-80-120h160v-80H400v80Zm0-160h160v-80H400v80Zm80 40Zm0 320q-65 0-120.5-32T272-240H160v-80h84q-3-20-3.5-40t-.5-40h-80v-80h80q0-20 .5-40t3.5-40h-84v-80h112q14-23 31.5-43t40.5-35l-64-66 56-56 86 86q28-9 57-9t57 9l88-86 56 56-66 66q23 15 41.5 34.5T688-640h112v80h-84q3 20 3.5 40t.5 40h80v80h-80q0 20-.5 40t-3.5 40h84v80H688q-32 56-87.5 88T480-120Z" />
                    </svg> </div> <span class="list-item-title">
                    <h4 class="list-item-text1"> Version Information grid shows incorrect S.No when case is created as
                        Follow Up </h4> <small class="list-item-details"> <span>PVCM-125149</span> <span>.</span>
                        <span>PV Case Management</span> </small>
                </span>
                <div class="list-item-status">Updated</div>
                <div class="list-item-avatars">
                    <ul class="avatar-groups">
                        <li class="avatar avatar-1">RA</li>
                        <li class="avatar avatar-2">KK</li>
                        <li class="avatar avatar-3">PA</li>
                        <li class="avatar avatar-4">JK</li>
                    </ul>
                </div>
            </a> </li>
        <li class="list-item"> <a class="list-item-link" href="/"> <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                    viewBox="0 -960 960 960" width="24px" fill="#1558bc">
                    <path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z" />
                </svg> <span class="list-item-title">
                    <h4 class="list-item-text1"> Version Information grid shows incorrect S.No when case is created as
                        Follow Up </h4> <small class="list-item-details"> <span>PVCM-125149</span> <span>.</span>
                        <span>PV Case Management</span> </small>
                </span>
                <div class="list-item-status">Updated</div>
                <div class="list-item-avatars">
                    <ul class="avatar-groups">
                        <li class="avatar avatar-1">RA</li>
                        <li class="avatar avatar-2">KK</li>
                        <li class="avatar avatar-3">PA</li>
                        <li class="avatar avatar-4">JK</li>
                    </ul>
                </div>
            </a> </li>
        <li class="list-item"> <a class="list-item-link" href="/">
                <div> <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#FF69B4">
                        <path
                            d="m422-232 207-248H469l29-227-185 267h139l-30 208ZM320-80l40-280H160l360-520h80l-40 320h240L400-80h-80Zm151-390Z" />
                    </svg> </div> <span class="list-item-title">
                    <h4 class="list-item-text1"> Version Information grid shows incorrect S.No when case is created as
                        Follow Up </h4> <small class="list-item-details"> <span>PVCM-125149</span> <span>.</span>
                        <span>PV Case Management</span> </small>
                </span>
                <div class="list-item-status">Updated</div>
                <div class="list-item-avatars">
                    <ul class="avatar-groups">
                        <li class="avatar avatar-1">RA</li>
                        <li class="avatar avatar-2">KK</li>
                        <li class="avatar avatar-3">PA</li>
                        <li class="avatar avatar-4">JK</li>
                    </ul>
                </div>
            </a> </li>
    </ul>
</div>