* {
    font-family: normal 400 0.875rem / 1.25rem -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:host {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
    grid-template-rows: auto auto 100%;
    grid-template-areas: 'notification notification notification'
        'header header header'
        'sidebar main main'
    ;
    min-height: 100vh;
}

.page-notification {
    grid-area: notification;
    position: sticky;
    border-bottom: 1px solid #cecece;
}

.notification-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification-holder a {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    text-decoration: none;
    color: #1558bc;

    svg {
        fill: #1558bc;
    }
}

.notification-holder a:hover {
    color: #0052cc;

    svg {
        fill: #0052cc;
    }
}

app-dashboards-header {
    grid-area: header;
    position: sticky;
    border-bottom: 1px solid #cecece;
}

app-dashboards-sidebar {
    grid-area: var(--sidebar-grid-area, sidebar);
    border-inline-end: 1px solid #0B120E24;
    box-shadow: var(--sidebar-box-shdow);
    width: clamp(240px, 240px, 50vw);
    position: -webkit-sticky;
    position: sticky;
    height: calc(100vh - 48px - 42px);
    // height to be taken
    // inset-block-start: calc( + 40px);
    z-index: 2;
    border-inline-start: none;
    background-color: #fff;
    box-sizing: border-box;
    inset-block-start: 0px;
    // display: var(--sidebar-display, block); /* need to handle this */
    transform: translateX(var(--sidebar-translateX, -100%));
    transition-behavior: allow-discrete;
    transition-duration: .3s;
    transition-property: transform, display;
}

app-dashboards-sidebar.show {
    transition-duration: 0.2s;
    transform: translateX(0);
    display: block;
    grid-area: main;
    box-shadow: none;
}

main {
    // background-color: cadetblue; 
    grid-area: main;
    height: calc(100vh - 48px - 42px);
    background-color: #fff;
}

@media (min-width: 64rem) {
    main {
        isolation: auto;
        position: sticky;
        // inset-block-start: ;
        overflow: auto;
    }
}

main .main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 90rem) {
    :host {
        grid-template-columns: auto max(0, 1fr) auto;
        grid-template-areas: 'notification notification notification'
            'header header header'
            'sidebar main main';
        grid-template-rows: auto auto 3fr;
    }
}