<!-- <div class="page-layout"> -->
    <div class="page-notification">
        <div class="notification-holder"> <a routerLink="/"> <span><svg xmlns="http://www.w3.org/2000/svg" height="16px"
                        viewBox="0 -960 960 960" width="16px">
                        <path
                            d="M280-40q-33 0-56.5-23.5T200-120v-720q0-33 23.5-56.5T280-920h400q33 0 56.5 23.5T760-840v124q18 7 29 22t11 34v80q0 19-11 34t-29 22v404q0 33-23.5 56.5T680-40H280Zm0-80h400v-720H280v720Zm0 0v-720 720Zm200-600q17 0 28.5-11.5T520-760q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760q0 17 11.5 28.5T480-720Z" />
                    </svg></span> <span>try mobile app</span> </a> </div>
    </div> <app-dashboards-header (sidebarIconHover)="sidebarIconHovered($event)"
        (sidebarIconClick)="sidebarIconClicked($event)" (helpIconClick)="toggleAside()"></app-dashboards-header>
    <app-dashboards-sidebar appResizableDirective [config]="resizableConfig"></app-dashboards-sidebar>
    <main (mousemove)="onMainMouseMove($event)" (mouseleave)="onMainMouseLeave()">
        <div class="dot-spotlight" [style.--mouse-x]="spotlightX" [style.--mouse-y]="spotlightY"></div>
        <div class="main-wrapper"> <router-outlet></router-outlet> </div>
    </main>
    <section class="aside" [ngClass]="{hideAside: !isAside}">
        <div class="aside-wrapper">
            <div class="aside-wrapper-2">
                <div class="aside-wrapper-3">
                    <div class="aside-wrapper-4">
                        <div class="aside-header">
                            <h2 class="header-text">Help</h2> <app-icon-container class="close" (click)="toggleAside()">
                                <img class="icon-content" src="assets/icons/close.svg" alt="icon"> </app-icon-container>
                            <div class="search-control-container"> </div>
                        </div>
                        <div class="aside-body">
                            <div class="aside-body-wrapper-1">
                                <div class="aside-body-wrapper-2">
                                    <ul class="aside-items-container">
                                        <li class="aside-item"> <a href=""> <span>
                                                    <div class="item-content"> <app-icon-container> <img
                                                                class="icon-content" src="assets/icons/close.svg"
                                                                alt="icon"> </app-icon-container>
                                                        <div class="text-container"> Find out what's changed in your
                                                            workspace <app-icon-container> <img class="icon-content"
                                                                    src="assets/icons/newTab.svg" alt="icon">
                                                            </app-icon-container> </div>
                                                    </div>
                                                </span> </a> </li>
                                        <li class="aside-item"> <a href=""> <span>
                                                    <div class="item-content"> <app-icon-container> <img
                                                                class="icon-content" src="assets/icons/close.svg"
                                                                alt="icon"> </app-icon-container>
                                                        <div class="text-container"> Find out what's changed in your
                                                            workspace <app-icon-container> <img class="icon-content"
                                                                    src="assets/icons/newTab.svg" alt="icon">
                                                            </app-icon-container> </div>
                                                    </div>
                                                </span> </a> </li>
                                        <li class="aside-item"> <a href=""> <span>
                                                    <div class="item-content"> <app-icon-container> <img
                                                                class="icon-content" src="assets/icons/close.svg"
                                                                alt="icon"> </app-icon-container>
                                                        <div class="text-container"> Find out what's changed in your
                                                            workspace <app-icon-container> <img class="icon-content"
                                                                    src="assets/icons/newTab.svg" alt="icon">
                                                            </app-icon-container> </div>
                                                    </div>
                                                </span> </a> </li>
                                        <li class="aside-item"> <a href=""> <span>
                                                    <div class="item-content"> <app-icon-container> <img
                                                                class="icon-content" src="assets/icons/close.svg"
                                                                alt="icon"> </app-icon-container>
                                                        <div class="text-container"> Find out what's changed in your work
                                                            <app-icon-container> <img class="icon-content"
                                                                    src="assets/icons/newTab.svg" alt="icon">
                                                            </app-icon-container> </div>
                                                    </div>
                                                </span> </a> </li>
                                        <li class="aside-item"> <a href=""> <span>
                                                    <div class="item-content"> <app-icon-container> <img
                                                                class="icon-content" src="assets/icons/close.svg"
                                                                alt="icon"> </app-icon-container>
                                                        <div class="text-container"> Find out what's changed in your
                                                            workspace <app-icon-container> <img class="icon-content"
                                                                    src="assets/icons/newTab.svg" alt="icon">
                                                            </app-icon-container> </div>
                                                    </div>
                                                </span> </a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="aside-body-wrapper-3"></div>
                        </div>
                        <div class="aside-footer">
                            <div class="footer-content"> <a class="item-link"> <span class="item-link-text"> About Crayon
                                    </span> </a> <a class="item-link"> <span class="item-link-text"> Terms of use </span>
                                </a> <a class="item-link"> <span class="item-link-text"> Privacy policy </span> </a> <a
                                    class="item-link"> <span class="item-link-text"> Notice at collection </span> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
<!-- </div> -->