* {
    font-family: normal 400 0.875rem / 1.25rem -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:host {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
    grid-template-rows: auto auto 100%;
    grid-template-areas: 'notification notification notification'
        'header header header'
        'sidebar main main'
    ;
    min-height: 100vh;
}

.page-notification {
    grid-area: notification;
    position: sticky;
    border-bottom: 1px solid #cecece;
}

.notification-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notification-holder a {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    text-decoration: none;
    color: #1558bc;

    svg {
        fill: #1558bc;
    }
}

.notification-holder a:hover {
    color: #0052cc;

    svg {
        fill: #0052cc;
    }
}

app-dashboards-header {
    grid-area: header;
    position: sticky;
    border-bottom: 1px solid #cecece;
}

app-dashboards-sidebar {
    grid-area: var(--sidebar-grid-area, sidebar);
    border-inline-end: 1px solid #0B120E24;
    box-shadow: 0px 8px 12px #1E1F2126, 0px 0px 1px #1E1F214F;
    width: clamp(240px, 240px, 50vw);
    position: -webkit-sticky;
    position: sticky;
    height: calc(100vh - 48px - 42px);
    // height to be taken
    // inset-block-start: calc( + 40px);
    z-index: 2;
    border-inline-start: none;
    background-color: #fff;
    box-sizing: border-box;
    inset-block-start: 0px;
    // display: var(--sidebar-display, block); /* need to handle this */
    transform: translateX(var(--sidebar-translateX, -100%));
    transition-behavior: allow-discrete;
    transition-duration: .3s;
    transition-property: transform, display;
}

app-dashboards-sidebar.show {
    transition-duration: 0.2s;
    transform: translateX(0);
    display: block;
    grid-area: main;
    box-shadow: 0px 8px 12px #1E1F2126, 0px 0px 1px #1E1F214F
}

/*
.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.contents {
    flex-basis: 0%;
    overflow-y: auto;
    overflow-x: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

.ctr1 {
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.ctr2 {
    padding-inline: 12px;
    padding-block: 12px;
}

.sidebar-space {
    height: 0.75rem;
}

.list {}

.sub-list {
    padding-inline-start: 12px;
}

.list-item,
.sub-list-item {
    scroll-margin-inline: 1000px;
}

.list-item-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    box-sizing: border-box;
    height: 32px;
    min-width: 72px;
    grid-template-areas: "ele-before interactive ele-after actions";
    grid-template-rows: 1fr;
    grid-template-columns: minmax(0, auto) 1fr minmax(0, auto) minmax(0, auto);
    display: grid;
    align-items: center;
    border-radius: 4px;
}

.list-item-link,
.list-item-btn {
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
    text-align: start;
    padding-block: 4px;
    padding-inline: 4px;
    grid-template-rows: subgrid;
    grid-template-columns: subgrid;
    color: #44546f;
    display: grid;
    background-color: initial;
    align-items: center;
    grid-row: 1;
    grid-column: 1 / -1;
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.list-item-btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.list-item-link:not(.selected):hover {
    background-color: #F0F1F2;

    .horizontal-highlighter,
    .horizontal-highlighter2 {
        background-color: #44546f;
        transform: translateY(-50%);
        width: 2px;
        inset-block-start: 50%;
        inset-inline-start: 0;
        height: 50%;
        position: absolute;
        transition: .4s;
    }

    .horizontal-highlighter2 {
        inset-inline-start: 100%;
        transform: translate(-100%, -50%);
    }

    .vertical-highlighter,
    .vertical-highlighter2 {
        background-color: #44546f;
        height: 2px;
        width: 50%;
        inset-block-start: 0;
        position: absolute;
        transform: translate(50%, 0%);
        transition: .4s;
    }

    .vertical-highlighter2 {
        inset-block-start: 100%;
        transform: translate(50%, -100%);
    }

    ~.list-item-icon2-container {
        padding-inline-end: 8px;
    }
}

.list-item-container .list-item-link:not(.selected):active {
    background-color: #DDDEE1;
}

.list-item-btn~.list-item-icon-container {
    .list-item-icon-box:first-child {
        display: none;
    }

    .list-item-icon-box:nth-child(2) {
        display: block;
    }
}

.list-item-container:hover .list-item-btn~.list-item-icon-container,
.list-item-container:hover .list-item-link~.list-item-icon-container {
    .list-item-icon-box:first-child {
        display: flex;
    }

    .list-item-icon-box:nth-child(2) {
        display: none;
    }

    .list-item-btn-icon2-container {
        opacity: 1;
    }

    ~.list-item-btn-icon3-container,
    ~.list-item-link-icon3-container {
        display: none;
    }
}

.list-item-link .text-container,
.list-item-btn .text-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    grid-area: interactive;
}

.list-item-link .texts,
.list-item-btn .texts {
    min-width: 1ch;
    padding-inline: 4px;
    overflow: hidden;
    flex-direction: column;
    display: flex;
    gap: 2px;
}

.list-item-link .texts>span,
.list-item-btn .texts>span {
    -webkit-line-clamp: 1;
    overflow-wrap: anywhere;
    word-break: break-all;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
    text-align: start;
    cursor: pointer;
}

.list-item-icon-container,
.list-item-icon2-container {
    pointer-events: none;
    box-sizing: initial;
    position: relative;
    width: 24px;
    height: 24px;
    padding-inline-start: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    grid-area: ele-before;
}

.list-item-icon2-container {
    flex-shrink: 0;
    grid-area: ele-after;
    padding-inline-start: 0;
    padding-inline-end: 4px;
}

.list-item-icon-box {
    box-sizing: border-box;
    padding-inline: 0;
    line-height: 1;
    display: inline-block;
    flex-shrink: 0;
    pointer-events: none;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
}

.list-item-icon2-box {
    box-sizing: border-box;
    line-height: 1;
    padding-inline: 4px;
}

.list-item-icon2-box2 {
    box-sizing: border-box;
    line-height: 12px;
    padding-inline: 0;
    display: inline-block;
    flex-shrink: 0;
}

.list-item-icon-box svg {
    fill: #44546f;
}

.list-item-btn-icon2-container {
    padding-inline: 4px;
    opacity: 0;
    align-items: center;
    overflow: hidden;
    display: flex;
    grid-area: ele-after;
    gap: 4px;
    position: relative;
}

.list-item-btn-icon2-container .extra-icon {
    display: inline-flex;
}

.list-item-btn-icon2-container .list-item-icon-btn-box {
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    column-gap: 4px;
    align-items: baseline;
    height: 24px;
    width: 24px;
    font-weight: 500;
    cursor: pointer;
    color: #44546f;
    flex-shrink: 0;
    background-color: transparent;
    padding-inline: 0;
    max-width: 100%;
    text-align: center;
    border: none;
    padding-block: 2px;
    border-radius: 3px;
}

.list-item-container:hover .list-item-btn:not(.selected),
.list-item-container:hover .list-item-link:not(.selected) {
    background: #F0F1F2;

    .horizontal-highlighter,
    .horizontal-highlighter2 {
        background-color: #44546f;
        transform: translateY(-50%);
        width: 2px;
        inset-block-start: 50%;
        inset-inline-start: 0;
        height: 50%;
        position: absolute;
        transition: .4s;
    }

    .horizontal-highlighter2 {
        inset-inline-start: 100%;
        transform: translate(-100%, -50%);
    }

    .vertical-highlighter,
    .vertical-highlighter2 {
        background-color: #44546f;
        height: 2px;
        width: 50%;
        inset-block-start: 0;
        position: absolute;
        transform: translate(50%, 0%);
        transition: .4s;
    }

    .vertical-highlighter2 {
        inset-block-start: 100%;
        transform: translate(50%, -100%);
    }

    ~.list-item-btn-icon2-container {
        padding-inline-end: 8px;
        opacity: 1 !important;
        overflow: hidden;
        align-items: center;
        grid-area: ele-after;
        gap: 4px;
    }

    ~.list-item-btn-icon2-container .list-item-icon-btn-box:hover {
        background-color: #0515240F;
        border-radius: 3px;
    }

    ~.list-item-btn-icon2-container .list-item-icon-btn-box:active,
    .list-item-btn-icon2-container .list-item-icon-btn-box:focus {
        background-color: #0B120E24;
        outline: none;
        border-radius: 3px;
    }

    ~.list-item-btn-icon2-container .list-item-icon-btn-box:focus .list-item-icon-box {
        box-sizing: border-box;
        background-color: #0B120E24;
        outline: none;
        border: 1px solid #1868DB;
        border-radius: 3px;
    }
}

.list-item-container .list-item-btn:not(.selected):active {
    background-color: #DDDEE1;
}

.list-item-btn-icon2-container .list-item-icon-btn-box .list-item-icon-box {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 0;
    line-height: 0;
    flex-shrink: 0;
    flex-grow: 0;
    align-self: center;
    display: flex;
    cursor: pointer;
    text-align: center;
}

.list-item-container:has(.list-item-link.selected) {
    color: #1868DB;
    background-color: #CFE1FD;

    .list-item-link {
        color: #1868DB;
    }

    .list-item-icon-box svg {
        fill: #1868DB;
    }

    .list-item-link:hover {
        background-color: #CFE1FD;
    }

    .horizontal-highlighter,
    .horizontal-highlighter2 {
        background-color: #1868DB;
        transform: translateY(-50%);
        width: 2px;
        inset-block-start: 50%;
        inset-inline-start: 0;
        height: 50%;
        position: absolute;
    }

    .horizontal-highlighter2 {
        inset-inline-start: 100%;
        transform: translate(-100%, -50%);
    }

    .vertical-highlighter,
    .vertical-highlighter2 {
        background-color: #1868DB;
        height: 2px;
        width: 50%;
        inset-block-start: 0;
        position: absolute;
        transform: translate(50%, 0%);
    }

    .vertical-highlighter2 {
        inset-block-start: 100%;
        transform: translate(50%, -100%);
    }
}

.list-item-container:has(.list-item-link.selected:active) {
    background-color: #8FB8F6;
    color: #1558BC;
}

.list-heading {
    color: #6B6E76;
    padding-inline: 0.375rem;
    padding-block: 0.5rem;
    font-style: normal;
    font-weight: 653;
    font-size: .8rem;
    line-height: 1rem;
    margin-top: 0;
}

.horizontal-highlighter {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transform: translateY(0%);
}

.horizontal-highlighter2 {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    transform: translate(-100%, -100%);
}

.vertical-highlighter {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.vertical-highlighter2 {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transform: translate(100%, -100%);
}

.list-item-btn-icon3-container {
    pointer-events: none;
    position: relative;
    height: 24px;
    display: flex;
    padding-inline-end: 4px;
    overflow: hidden;
    align-items: center;
    grid-area: ele-after;
}

.list-item-btn-icon3-container .extra-icon {
    max-width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    outline: 1px solid #c97cf4;
    outline-offset: -1px;
    padding-inline: 4px;
    block-size: min-content;
    position: static;
    background-color: #0000;
    overflow: hidden;
    border-radius: 3px;
}

.list-item-btn-icon3-container .extra-icon .extra-icon-text {
    max-width: calc(200px - .5rem);
    color: #292a2e;
    letter-spacing: .165px;
    text-transform: uppercase;
    line-height: 1pc;
    font-size: 11px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
*/
main {
    background-color: cadetblue;
    grid-area: main;
    height: calc(100vh - 48px - 42px);
}

@media (min-width: 64rem) {
    main {
        isolation: auto;
        position: sticky;
        // inset-block-start: ;
        overflow: auto;
    }
}

main .main-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (min-width: 90rem) {
    :host {
        grid-template-columns: auto max(0, 1fr) auto;
        grid-template-areas: 'notification notification notification'
            'header header header'
            'sidebar main main';
        grid-template-rows: auto auto 3fr;
    }
}