:host {
  margin-top: 0.5rem;
  width: 350px;
}

.field-label {
  margin-block-end: 0.25rem;
  color: #505258;
  display: inline-block;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-block-start: 0;
}

.red-asterisk {
  padding-inline-start: 0.125rem;
  color: #ae2e24;
}
