.modal-sub-sub-container {
    animation-delay: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    inset-inline-start: 0;
    inset-block-start: 0;
    z-index: 500;
}
.modal-background {
    background-color: #050C1F75;
    z-index: 500;
    position: fixed;
    pointer-events: auto;
    overflow-y: auto;
    inset: 0;
    margin: 0;
    padding: 0;
}
@media (min-width: 30rem) {
    .modal-body {
        margin-inline-start: auto;
        margin-inline-end: auto;
        inset-inline-start: 0;
        inset-inline-end: 0;
        inset-block-start: 60px;
        position: absolute;
        pointer-events: none;
    }
    .modal-section {
        max-height: inherit;
        max-width: inherit;
        height: auto;
        width: 600px;
    }
}
.modal-body {
    max-height: calc(100vh - 120px);
    max-width: calc(100vw - 120px);
    width: 100%;
    height: 100%;
    transform: none;
    transition-property: transform;
    z-index: 510;
    display: flex;
    flex-direction: column;
}
