<div class="wysiwyg-container">
    <div class="wysiwyg-container-2">
        <div class="wysiwyg-container-3">
            <div class="wysiwyg-container-4">
                <div class="wysiwyg-field-placeholder"></div>
                <div class="wysiwyg-field-content">
                    <app-toolbar></app-toolbar>
                    <div class="wysiwyg-editor-container">
                        <div class="wysiwyg-editor-content-area">
                            <div #editor class="wysiwyg-editor-content-playground">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>