<!-- <div class="column"> -->
<div
  class="column-content"
  [style.background]="columnDetails().backgroundColor"
  [class.is-loading]="isLoading()"
>
  <div class="column-header">
    <div class="column-header-content">
      <div
        class="column-header-content-container"
        appClickOutside
        (clickOutside)="isColumnNameEditing.set(false)"
      >
        <div
          class="column-header-text"
          [class.is-hidden]="isColumnNameEditing()"
          (click)="isColumnNameEditing.set(true)"
        >
          {{ columnDetails().label }} @if (columnDetails().issues.length) {
          <div class="item-count">{{ columnDetails().issues.length }}</div>
          }
        </div>
        <board-space-text-field-wrapper-template
          [class.is-hidden]="!isColumnNameEditing()"
          (close)="isColumnNameEditing.set(false)"
          (setValue)="onColumnNameEdited($event)"
        ></board-space-text-field-wrapper-template>
        <button
          class="icon-btn"
          [class.is-hidden]="isColumnNameEditing()"
          (click)="onMoreClick($event, option)"
          #option
        >
          <span class="icon-content">
            <img src="./assets/icons/more.svg" alt="icon" />
          </span>
        </button>
        @if(isLoading()) {
        <span class="loader">
          <span class="loader-rotating-element">
            <svg
              class="loader-rotating-svg"
              height="24"
              width="24"
              viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg"
              role="none"
            >
              <circle cx="8" cy="8" r="7"></circle>
            </svg>
          </span>
        </span>
        }
      </div>
    </div>
  </div>
  <ul
    class="column-body"
    cdkDropList
    [id]="columnDetails().id"
    [cdkDropListData]="columnIssues()"
    [cdkDropListConnectedTo]="connectedTo()"
    (cdkDropListDropped)="cardDropped.emit($event)"
  >
    @for (issue of columnIssues(); track issue.id) {
    <li class="item" cdkDrag [cdkDragData]="issue">
      <board-view-card-template [issue]="issue"></board-view-card-template>
    </li>
    }
    <li class="item">
      @if (isCreating()) {
      <div class="create-item" appClickOutside (clickOutside)="isCreating.set(false)">
        <textarea
          class="create-item-text"
          placeholder="What needs to be done"
          #txtArea
          [value]="draftSummary()"
          (input)="draftSummary.set($any($event.target).value)"
          (keydown.enter)="$event.preventDefault(); submitDraft()"
          (keydown.escape)="isCreating.set(false)"
        ></textarea>
        <div class="tools">
          <div class="tool tool1">
            <button class="tool-btn status" (click)="openWorkTypePicker(workTypeBtn)" #workTypeBtn>
              <span class="icon-content-container">
                <div class="icon-content">
                  <img src="./assets/icons/checkOutlineSquare.svg" alt="icon" />
                  <img src="./assets/icons/arrow-down.svg" alt="icon" />
                </div>
              </span>
            </button>
            <button class="tool-btn calender" (click)="openDatePicker(dateBtn)" #dateBtn>
              <span class="icon-content-container">
                <img src="./assets/icons/calenderAdd.svg" alt="" />
              </span>
            </button>
            <button class="tool-btn assign">
              <span class="icon-content-container">
                <img src="./assets/icons/person.svg" alt="" />
              </span>
            </button>
          </div>
          <div class="tool tool2">
            <button class="tool-btn create" [disabled]="!canSubmit()" (click)="submitDraft()">
              <span class="icon-content-container">
                <img src="./assets/icons/keyboardEnter.svg" alt="" />
              </span>
            </button>
          </div>
        </div>
      </div>
      } @else {
      <button class="create-item-btn" (click)="isCreating.set(true)">
        <span class="icon-content">
          <img src="./assets/icons/add2.svg" alt="icon" />
        </span>
        Create
      </button>
      }
    </li>
  </ul>
</div>
<!-- </div> -->
